  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Store Order ID</th>
                  <th>Date Added</th>
                  <th>Customer First Name</th>
                  <th>Payment Type</th>
                  <th>Order Status</th>
                  <th>Tracking ID</th>
                  <th>Courier Type</th>
                  <th>Amount</th>
                  <th>Settlement Amount</th>
                  <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered <span class="order-status-edit-icon"><i class="fa fa-pencil"></i></span></td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                 <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2582</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                <tr>
                  <td>#12987</td>
                  <td>#5675</td>
                  <td>Mon, May 15 2017, 4:55am</td>
                  <td>Name</td>
                  <td>Paid</td>
                  <td>Delivered</td>
                  <td>24856</td>
                  <td>COD</td>
                  <td>INR 2528</td>
                  <td>INR 2565</td>
                  <td><a href="#" class="btn btn-primary">Details</a></td>
                </tr>
                </tbody>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>