

.box.box-primary{
  border-color: #A9A9A9;
  border-radius: 15px;
}

.logo1{
  font-family: Arial;
  text-align:center;
}
.dash1{
  font-family: Arial;
  font-size:20px;
  text-align: center;
  text-decoration-color: #808080;
}
.rowS{
  width: 490px;
  margin: 0 auto 0 auto;
  position: relative;
}
.colS{
  width: 490px;
  height:400px;
  margin: 0 auto 0 auto;
  position: relative;
}
.boxS{
  text-align: center;
  width:100%;
}
.inputRole1{
  margin-left: 2%;
}
.select1{
  margin-left: 2%;
  width:95%;
  height:34px;
}
.inputEmail{
  margin-left: 2%;
  width:95%;
}
.sub_btn_1{
  background: #808080;
  border: #808080;
}

.img-block{
  position: relative;
  padding-bottom: 125%;
  background: #fff;
}

.cardImg_hideOverflow {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display: flex;
  align-items: center;
}

.cardImg{
  max-width:100%;
  max-height:100%;
}

.productCard_info {
  padding: 12px 0 12px 12px;
  background: #fff;
  border-radius: 0 0 3px 3px;
}

.productCard {
  margin-bottom:15px;
}

.brand-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right:30px;
}

.box-body {
  background:#fff;
  padding:0;
}

.order-status-edit{
  float: right;
}

.order-status {
  text-align: center;
}

.order-status-drpdwn {
  height: 40px;
  width: 150px;
}

.order-detail-modal {
  width: 1024px;
}

.pincode {
  display:inline-block;
  padding-left:10px;
}

// loging page style

.dash1{
  text-align: center;
  margin-bottom: 15px;
}

.img-circle {
  border-radius: 0;
}