.add_box{
	border:2px solid #808284;
	width: 49%;
}
.add_box1{
	border:2px solid #808284;
	width: 49%;
	margin-left: 1%;
}
.pad_order{
	padding-bottom: 15px;
}
.border_btm{
	border-bottom: 1px solid #808284;
}
.pad_up{
	padding-top: 10px;
}
.prod_col{
	font-size: 16px;
	color: blue;
}
.pad_l{
	font-size: 14px;
	color: black;
	padding-left: 2px;
}
.pos_price{
	position: absolute;
}
.right_shift{
	text-align: right;
}
.border-no{
	border: none;
}
.row_pad1{
	padding: 10px;
}
.border_details{
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-right: white;
	border-left: white; 
}
.row_wide{
	width: 100%;
}
.row_pad{
	padding: 0px;
}
.border_top_col{
	border-top-color: #d2d6de;
	border-radius: 15px;
}
.pad_left{
	padding-left: 25px;
}
.pad_left1{
	padding-left: 20px;
}
.font_edit1{
	font-size: 20px;
}
.border_edit{
	border-bottom: 1px solid #D3D3D3;
	
}
.table-bordered>tbody>tr>th.bor_edit{
	border: 1px solid #D3D3D3;	
}
.table-bordered>tbody>tr>td.bor_edit{
 	border: 1px solid #D3D3D3;	
}
/*.table-bordered{
	tbody{
		tr{
			th{}.bor_edit{
	border: 1px solid #D3D3D3;
			}
		}
	}	
}
.table-bordered{
	tbody{
		tr{
			td.bor_edit{
 	border: 1px solid #D3D3D3;	
 			}
 		}
 	}
}*/
