.box.box-primary{
	border-color: #A9A9A9;
	border-radius: 15px;
}

.logo1{
    font-family: Arial;
    text-align:center;
}
.dash1{
    font-family: Arial;
    font-size:20px; 
    text-align: center; 
    text-decoration-color: #808080;
}
.rowS{
    width: 490px; 
    margin: 0 auto 0 auto; 
    position: relative;
}
.colS{
    width: 490px; 
    height:400px; 
    margin: 0 auto 0 auto; 
    position: relative;
}
.boxS{
    text-align: center; 
    width:100%;
}
.inputRole1{
    margin-left: 2%;
}
.select1{
    margin-left: 2%; 
    width:95%; 
    height:34px;
}
.inputEmail{
    margin-left: 2%; 
    width:95%;
}
.sub_btn_1{
    background: #808080; 
    border: #808080;
}
.img-block{

    width: 144%;
    background-color: #ecf0f5;
    border: 1px solid #ecf0f5;
    position: relative;
    padding-bottom: 10%;
}

.style1{

    margin-left: 2%;
    margin-right: 1%;
}